body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
p {
  color: red;}

}
p#overview {
    position: relative;
    text-align: center;
    width: fit-content;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

ul.assignment-list {
    padding: 0px;
}

li#assignment {
    text-align: center;
    list-style-type:lower-greek;
    position: relative;
    width: fit-content;
    top: 50%;
    left: 50%
    transform: translate(-50%, -50%);
}
