<head>   
charset="UTF-8">   
<title>Assignment 10 - Summary</title> 
 <link href="style.css" rel="stylesheet" type="text/css">
body {background-color: powderblue;}
h1 {color: blue;}
p {color: red;}
</head>

